.converter {
  width: 30%;
  margin: 0 auto;
}
.top {
  text-align: center;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
}

.parameter-value {
  text-align: right;
}
